spring:
#  datasource:
#    url: jdbc:h2:mem:testdb
#    driverClassName: org.h2.Driver
#    username: sa
#    password: ''
#  h2:
#    console:
#      enabled: true
#  jpa:
#    database-platform: org.hibernate.dialect.H2Dialect
#    hibernate:
#      ddl-auto: update
  datasource:
    url: jdbc:mysql://localhost:3306/accountsdb
    username: root
    password: root

build:
  version: "3.0"

accounts:
  message: "Welcome to EazyBank accounts related docker WEBHOOK** APIs "
  contactDetails:
    name: "John Doe - Developer"
    email: "john@eazybank.com"
  onCallSupport:
    - (555) 555-1234
    - (555) 523-1345
